// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$black: #281713;
$white: #FFF4EE;
$brown: #BA8475;
$blood: #DC0000;

$lack: #515151;
$lgray: #6A6778;
$hite: #FAF7FF;
