// Define variables for your color scheme

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$black: #071330;
$white: #F9F8F0;
$l-white: #fbfaf5;
$gold: #FFD700;
$rred: #D62828;

$lack: #515151;
$ray: #6A6778;
$hite: #FAF7FF;
$mid: #5E5C65
