<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
  </head>
  <body>


    <div class="topnav" id="myTopnav">
      <%= link_to "Home", root_path, class: "nav-link#{' active' if current_page?(root_path)}" %>
      <%= link_to "About", about_path, class: "nav-link#{' active' if current_page?(about_path)}" %>
      <%= link_to "Contact", contact_path, class: "nav-link#{' active' if current_page?(contact_path)}" %>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>


    <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += "responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>

  </body>
</html>
