<%# <div class=container-fluid> %>
<%# <div class="search-box">
    <div class="container-fluid"> %>
      <%# <div class="d-flex justify-content-left">
            <p>This is place for Madeleine and Kemo to write about film</p>
      </div> %>
      <%# <div class="search-form-control form-group mt-5 justify-content-left" >
        <%= form_with url: reviews_path, method: :get, class: "d-flex" do %>
        <%#= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "find a review"
        %>
        <%#= submit_tag "Search", class: "btn button-80" %>
        <%# end %>
      <%#/div>
    <%# </div> %>
  <%# </div> %>

  <div>
        <%= render "reviews/index" %>
  </div>
<%# </div> %>
