
.button-80 {
  background-color: $l-gold;
  border: 2px solid $gold;
  color: $black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
  background-color: $gold;
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

//button 81

.button-81 {
  background-color: $l-gold;
  border: 2px solid $gold;
  color: $black;
  padding: 12px 30px;
  right: 20px;
  // text-align: center;
  text-decoration: none;
  font-size: 16px;
  touch-action: manipulation;
}

.button-81:not(:disabled):hover {
  transform: scale(1.05);
  background-color: $gold;
}

.button-81:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-81:focus {
  outline: 0 solid transparent;
}

.button-81:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-81:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-81:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-81:not(:disabled):active {
  transform: translateY(.125rem);
}
